---
title: Welcome to Middleman
---

<!-- <div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p> --><!-- .doc -->
<!-- </div> --><!-- .welcome -->

<div class="wrap">
    
    <div style="backface-visibility:
hidden
;
hidden.bg-main
background-attachment:
scroll, scroll
;
background-clip:
border-box, border-box
;
background-color:
rgba(0, 0, 0, 0)
;
background-image: url(images/street_Shanghai.jpg), linear-gradient(50deg, white 0px, white 100%)
;
background-origin:
padding-box, padding-box
;
background-position-x:
0%, 0%
;
background-position-y:
0%, 0%
;
background-repeat-x:
;
background-repeat-y:
;
background-size:
cover
;
box-sizing:
border-box
;
color:
rgb(46, 47, 51)
;
display:
block
;
font-family:
Circular, Helvetica, Arial, sans-serif
;
font-size:
16px
;
font-weight:
300
;
height:
100vh;
;
left:
0px
;
0.bg-main
line-height:
24px
;
position:
fixed
;
text-size-adjust:
100%
;
top:
0px
;
width:
100%
;
z-index:
-1
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-filter: brightness(3);
    -moz-filter: brightness(3);
    -o-filter: brightness(3);
    -ms-filter: brightness(3);
    filter: saturate(9);
  "

></div>

</div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->






            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>



                 <div class="dropdown dropdown-country" >
			    <button class="btn btn-primary dropdown-toggle language-option" type="button" data-toggle="dropdown"><i class="fa fa-coffee" aria-hidden="true"></i>  <span>请选语言</span>
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu" style="font-family:'notolight'">
			      <li><a href="chinese.html">中文</a></li>
			      <li><a href="/">English</a></li>
			      <!-- <li><a href="#">Français</a></li> -->
			    </ul>
			  </div>





                <!-- <div class="bouton-brand" class="container">
                <a class="navbar-brand" href="#page-top">  -->


<!--                 <img src="img/moi.jpg" class="" alt="" style="width: auto;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;"> -->


 <!--                <div class="welcome-button" style="color: rgb(255, 36, 36); background-color: white; padding:15px;

                    -moz-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -webkit-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -o-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);"> 
                <i class="fa fa-coffee" aria-hidden="true"></i>  Welcome Home </div>

                </a>
                </div> -->
            </div>









            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right " style="
                    -moz-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -webkit-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -o-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    font-family: 'notobold';
                    ">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">关于</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#services">工作流程</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">资产组合</a>
                    </li>
                    <li  class="page-scroll">
                        <a href="#page-top" id="contactBtn">接头</a> 
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="z-index:0;"">
        <div class="container" style="margin-bottom: -55px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text" style="display: block;vertical-align: center;">

                    <div>
                        
                        <div class="sticker" style="background: white;"><span class="name" style="color: rgb(255, 36, 36);
                                            -moz-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            -webkit-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            -o-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            


                    ">Welcome <span style="font-family: 'notobold';">欢迎光临!</span></span></div>
                        <hr class="star-primary main-star" style="font-size:1.4em;">

                    </div>

                    <div class="video_contain">

                            <img src="images/handOn.png" class="img-responsive" style="position: absolute;">

                            <video id="mainVideo" class=""  autoplay loop>
                              <source src="images/Proto2_720_screen.mp4" type="video/mp4">

                            

                            Your browser does not support the video tag.
                            </video>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header2

    <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    -->
<!-- About Section -->



    <section class="success " id="about" style="z-index: 10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="font-family: 'notobold'">我们是译者 </h2>




                    
                    <hr class="star-light" style="background-color: black; border-style: inherit;">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" >
                    <!-- <p>Agile methodes are necessary to create products and services with a safe and efficient incrementation, but UX goes further. User Experience purpose is to set up ogranisation's strategy toward iterative user aknowledgement processes. It build conditions to create positive and valuable artefacts within a dynamic business environment. </p> --> </br>
                    <p style="text-align: justify; font-family: 'notolight';" >有限公司或政府组织，, 初创或大公司，空间企业或出租司机， 我们都经历过源于技术提高目前社会的大改变。 </br></br>

是否喜欢还是不喜欢社会变换没办法坚持我们舒适带，导致挫折，误会，恐怕的不了解工作，恐怕的不控制生活，恐怕的不懂世界。</br></br>

以外有些人，因为运气，生活环境和上世纪的情况特殊改善经验不知，理解外边的方法使用同理心，接着心理学的教学。</br></br>

反正一边是害怕和误会突起但是还一边时代，不管是年轻人或者老人，他们的相似就是他们怎么看世界，怎么看人也怎么能翻译其他人的主意，视力，文化和生活习惯，感情还有，让有怕的人慢慢地放松，帮助他们慢慢的开眼睛。我觉得我们可以得意地叫他们 ”译者“。 </p></br><p style="text-align: center;font-family: 'notolight'">欢迎光临</p>
                </div>
               <!-- <div class="col-lg-4">
                     <p>User Experience belongs to a whole organisation, the more people are gradually involved, the better the results are. In order to understand and communicate with everybody, it is crutiale for UX advocates to be able to make user research, design, test and even code with a deep empathy and respect. I follow these rules wholeheartedly</p> 
                    <p></p>
                </div>-->

               

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Julien_Eyssartier_Strategy_UX.pdf" class="btn btn-lg btn-outline btn-CV" style="font-family: 'notolight'" download>
                        <i class="fa fa-download"></i> 下载 CV
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="about" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: black;font-family: 'notobold'" class="foo" >理解和创造</h2>
                 </br>
                 </br>
                 </br>
                 </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                   <!--  <p>I traveled a lot with my parents when I was younger but we never left for too long in one place and everytime I thought it might be so different to stay in these places for living. After 3 years of sociology and History at the university, my business school gave me time to spend wherever I wanted to go, and for the first time I spend a year far away from France, in China. I'm passionated with China since I learned Mandarin to an advanced level and crossed China riding my bike. I'll be back in China to live there, that's for sure and I can't wait for it. If you want to talk about Chinese society, I'm your man ;) </p> -->

                   <img src="images/About.svg" style="width: 100%;">



                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Julien_Eyssartier_Strategy_UX.pdf" class="btn btn-lg btn-outline btn-CV black" style="font-family: 'notolight'"  download>
                        <i class="fa fa-download"></i> 下载 CV
                    </a>
                </div>


                </div>

            </div>

<!-- insertion -->
 



<!-- fin insertion -->

    </section>

     <section id="services" style="background: #eee;">
        <div class="container foo">
            <div class="row service-title">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="font-family: 'notobold'">工作流程</h2>
                </br>
                </div>
            </div>
        </div>


        <div class="container chinese" style="font-family: 'notolight'">

            <div class="row methodeRaw red">
                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-star" aria-hidden="true"></i>
 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">启发法评估</h4>

                            </div>

                            <div class="w-iconbox-text" style="">            <p style="font-size: medium;">评定产品的设计和感应质量按照 Jakob Nielsen 的大道理。不一定是很特殊的使用的机宜而是把自己的感知力观察，所以万一许多人来参加这个活动有好处。用这种方式在设计产品包括团队的一个非常好机会。</p>
                            </div>

                    </div>

                </div>
                
                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-comments" aria-hidden="true"></i>

 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">心得调查</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;">一开始，我觉得心得真的是最重要的一件事情，让我们了解用户的需要。只有 insights 真能保障我们创造的东西有用，我们创造的产品有目的。很早开始准备用户测试，面试用户，任务分析，都是好办法。这些 artifacts 的目的是帮助我们考虑假设。</p>
                            </div>

                    </div>


                </div>

                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-money" aria-hidden="true"></i>
 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">业务分析</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;"> 想做好产品，一般不能说我们产品和其他公司没有关系，他们做的我们不管。明明的知道哪些公司的产品是什么样子的是很重要，这种咨询能保障浪费时间。并且要重视业务模式是什么样子的因为对产品设计会有大影响。  </p>
                            </div>

                    </div>


                </div>

            </div>

<div class="row methodeRaw blue">
                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-users" aria-hidden="true"></i>

                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">用户研究</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;">运行用户研究真需要集中重点。只有这样能保障好结果。面试，尾巴，观察的目的都是让我们知道用户的使用过程中有什么不透，什么地方有问题，什么地方有空间提供新的服务，他们的问题怎么解决。把这些方法创造产品或者设计服务都很有帮助。</p>
                            </div>

                    </div>

                </div>
                
                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>

                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">产品使用测试</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;">产品使用测试就是惨用户是产品的时候遇到什么困难，什么问题。其实它是做产品当中最重要的一段，因为按照这些测试之后，很可能有跟产品的结构很大的影响。内容的形式，品质和建筑，产品的使用过程，技术和设计不准的地方。我们会用prototype或者做完了的一个产品，反正重要的是起来feedback。 </p>
                            </div>

                    </div>


                </div>

                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">内容建筑</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;"> 最好的状态是内容建筑，用户调查和使用测试沿途自然起来的。平时，如果实行的好的话，做内容建筑比较容易也比较合适。正常办法有两种。第一是问用户的意见，这种当然有好处，而且也不难准备。可是还有一个大部分是用户不知不觉的想法。所以最有帮助的事card sorting和用户自己创造界面。这样才能做有道理的使用过程。 </p>
                            </div>

                    </div>


                </div>

            </div>





                        <div class="row methodeRaw green">
                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-tasks" aria-hidden="true"></i>

                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">递增产生</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;"> Agile 产生和 SCRUM 办法，是需要我队员比以前多一点联系，用澄清方式。明确规矩，同心里和同事们的工作尊重我觉得是基本点也是大部分。对让我们做的有效，好好听着，好好考路和理解问题。反正只需要翻译正好信息到正好人。骄傲不能有。</p>
                            </div>

                    </div>

                </div>
                
                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-fa fa-check-square-o"></i> 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">讨论班</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;">讨轮班举行和每个人的性格有关系，每一次都会很不一样。举行的很是一个部分但我觉得最大部分是参加讨论班的人。我在PUBLICIS的时候举行了好多讨论班，有时候有好结果，有时候其实也没有怎们好，可是我发现越来明白为什么自己在这里，也在这里要做什么，越来讨论班有成功。</p>
                            </div>

                    </div>


                </div>

                <div class="col-lg-4 col-md-4 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;font-family: 'notobold'">“资料采矿”</h4>

                            </div>

                            <div class="w-iconbox-text" style="" >
                                <p style="font-size: medium;"> 第一个规矩是要好好放在每个接触点Analytics和其他测量工具。这样才能开始做基本而有帮助的资料考虑。而且如果有什么项目用户说很喜欢，我们研究和测试也是怎么说，可是没人来使用。那么如果没有Analytics的话根本不能立刻知道有问题，莫讲是什么问题。</p>
                            </div>

                    </div>


                </div>

            </div>



        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="ux-black " style="    background: rgba(0, 0, 0, 0.78);">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="port-title foo" >UX</h2>
                 </br>
                 </br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal0" class="portfolio-link" data-toggle="modal">
<!--                         <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="images/portfolio/nuiban.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="images/portfolio/europass_copie.png" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption" style="font-family: 'notolight'" >
                            <div class="caption-content">
                                


 



                                <h3 style="font-family: 'notobold'" > <i class="fa fa-smile fa-1x"></i>&nbsp;&nbsp;目前做的!</h3>

                                    



                            </div>
                        </div>
                        <img src="images/portfolio/wegame_copie.png" class="img-responsive" alt="">
                    </a>
                </div>

            </div>
              
            
        </div>
</section>

<section id="portfolio" class="" style="background: rgba(0, 0, 0, 0.78); padding-top: 0">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="port-title2" style="color: white;font-family: 'notobold'">规划决策</h2>
                    </br>
                 </br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption" style="font-family: 'notolight'">
                            <div class="caption-content">
                                






                                <h3 style="font-family: 'notobold'"> <i class="fa fa-lock fa-1x"></i>&nbsp;&nbsp;私房</h3>

                                    <span class="countdownContainer">

                                        <div>
                                            <span id="days">120</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i>
 &nbsp;</span>
                                            <span id="hours">4</span> <span> :</span>
                                            <span id="minutes">12</span> <span>:</span>
                                            <span id="seconds">22</span> 
                                        </div>

                                    </span>



                            </div>
                        </div>
                        <img src="images/portfolio/cote_dor.jpg" class="img-responsive brand" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption" style="font-family: 'notolight'">
                            <div class="caption-content" >
                                






                                <h3 style="font-family: 'notobold'"> <i class="fa fa-lock fa-1x"></i>&nbsp;&nbsp;私房</h3>

                                    <span class="countdownContainer">

                                        <div>
                                            <span id="days">120</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i>
 &nbsp;</span>
                                            <span id="hours">4</span> <span> :</span>
                                            <span id="minutes">12</span> <span>:</span>
                                            <span id="seconds">22</span> 
                                        </div>

                                    </span>



                            </div>
                        </div>
                        <img src="images/portfolio/Logo_MVEC.jpg" class="img-responsive brand" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption" style="font-family: 'notolight'">
                            <div class="caption-content" >
                                






                                <h3 style="font-family: 'notobold'"> <i class="fa fa-lock fa-1x" ></i>&nbsp;&nbsp;私房</h3>

                                    <span class="countdownContainer">

                                        <div>
                                            <span id="days">120</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i>
 &nbsp;</span>
                                            <span id="hours">4</span> <span> :</span>
                                            <span id="minutes">12</span> <span>:</span>
                                            <span id="seconds">22</span> 
                                        </div>

                                    </span>



                            </div>
                        </div>
                        <img src="images/portfolio/brands.jpg" class="img-responsive brand" alt="">
                    </a>



                </div>
            </div>

                            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Julien_Eyssartier_Strategy_UX.pdf" class="btn btn-lg btn-outline btn-CV" style="font-family: 'notolight'" download>
                        <i class="fa fa-download"></i> 下载 CV
                    </a>
                </div>

        </div>





    </section>

    <!-- About Section -->
    

    <!-- REMPLACER PLUS HAUT -->

    
    <!-- Contact Section -->
   <!-- <section id="contact">



        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    </br>
                 </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2"> -->


                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->


                    <!-- <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
     -->


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3 style="font-family: 'notobold'">地址</h3>
                        <p style="font-family: 'notolight'">Paris, France - 杭州, 中国

                    </div>
                    <div class="footer-col col-md-4">
                        <h3 style="font-family: 'notobold'"> 找到我 </h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/julien.eyssartier" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/in/julieneyssartier" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#footer-above" class="btn-social btn-outline" disabled><i class="fa fa-fw fa-wechat"></i></a>
                            </li>

                            
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3 style="font-family: 'notobold'">我目前读的书</h3>
                        <p><a href="http://shifter-magazine.com/wp-content/uploads/2015/02/Daniel-Kahneman-Thinking-Fast-and-Slow-.pdf">Thinking Fast and Slow</a>, Daniel Kahneman 
                    </div>
                </div>
            </div>
        </div>
        <div id='footer-below' class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="font-family: 'notolight'">
                        创造用 <i class="fa fa-heart" aria-hidden="true"></i>
 在法国和中国 !
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->


    <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body" style="font-family: 'notolight'">
                            <h2 style="font-family: 'notobold'">Newband - 牛班 Native App - 上海</h2>
                           
                            </br>

                            <h3 style="font-family: 'notobold'">队员</h3>
                            </br>
                            <p>4 位老板， 包括胡彦斌 (唱歌人) </br> 
                            1 营销团体 4 个人 </br>
                            1 产品团体 : 
                            4 工程师 (front, Back, IOS, Android)
                            2 UX 包括我
                            1 CPO</p>

                            <h3 style="font-family: 'notobold'">业务</h3>
                            <p>Ux 和产品顾问</p>

                            <h3 style="font-family: 'notobold'">挑战</h3>

                            <p>创造手机APP到中国消费者。</p>
                            <p>放在线上音乐视频课程帮助音乐学生加油。</p>
                            
                            </br>
                            <h3>User Reaserch : User Flow and Journey</h3>
                            </br>
                            <img src="images/portfolio/Newband_Work.jpg" class="img-responsive img-centered" alt="">
                            <!-- <p>All my colleges there are chinese and no more than one or two can speak English. Hopefully my Mandarin is fine but I confesse I had some hardtime there :p This Chinese start-up leads a majore part of the online music classes and provide chorus and instruments lesson through an app and now also within conservatories. As a junior ux designer I first had to help evangelise the design process from a business drived innovation to a user centered approach. After auditing the digital assets of newband I began interviewing chinese musicians (IRL and through social media) I followed beginner and advanced music courses in order to better understand the music learning process. As I builded closer relationship with users I started prototyping some existing and new items. In particular the classification of courses within the app was quite hard to implement. We improved prototypes several time with user-tests and get better and better usability results. At the same time I was rasing accuracy of personnas, user journey and user flow, everytime relating it to real users.</p> -->
                            </br>
                            <h3>Search engine prototype : the main assets of the product</h3>
                            </br>
                            <img src="images/portfolio/proto.jpg" class="img-responsive img-centered" alt="">
                           <!--  <p>
                            One big probleme in the app was that the CPO was afraid to get not enougth courses material to provide a "there is plenty courses I can choose" look alike experience. So he decided to waiste a lot of space on the screen by using big aligned shapes in order to fool the users. I was a bit depressed when I understood his point. There was around two hundred lessons for learning piano, guitar, bass, drum and chorus but no other way than scrolling the entire screen. Moreover, lessons were builded on specific songs sang by specific singers and the information architecture was based on them. So weird isn't it ? Thanks to my researches, I validated simple hypothesis demonstrating that the instrument had to be considered has the main information but singers and songs title still remained very important espacially regarding the place KTV(karaoke) and the act of singing in many chinese daily life. It is a big thing. I prototyped a search engine to help the user finding his song using a text field and three quick access button. It solved the problem in a very clear and simple way. </p> -->
                            </br>
                            </br>
                            <h3>CRM program : enhance relation with user</h3>
                            </br>
                            <img src="images/portfolio/CRM.jpg" class="img-responsive img-centered" alt="">
                            </br>
                           <!--  <p>The colors choosed before I came and the application environnement in general were a bit stark. Money was everywhere because the leaders who invested money in Newband were expecting video to be sold on app everytime. I'm not saying money is a problem but we have so many way to find free courses online. Waiting people to pay for it maybe is not a so smart idea. I launched an idea toward a very simple CRM path that will both help the user understand how to use the app and at the same time introduce points to collect, sometimes in partnership with brands like Levis to get free courses. User interviews prooved us that interface inspired from trading app where particulary appreciated by users in order to managed points. Security and efficiency exposed in several cases.
                            </p>  -->
                            <!-- </br>
                            <h3>What results ?</h3> 
                            </br>

                            <p>
                            The compagny at first had no proficiency in UX. I brought UX product design process within the team. The CPO was my direct boss and that means a lot : big vertical management and fussiness with control of his position in the team as "The manager" ... I realised in this occasion how UX design and product design cannot be separate! The definition of what a music course online is had been decided before I came and I could not change it even if it was no meaningfull or even usable content. Many product manager still focus on features, the more the best. A/B test are interesting, but using them imply you already know that what your are testing is really meaningfull ! I succeeded optimizing the navigation and the learning process as a chain whithin the app, but I still think content is at the core UX !</p> -->
                            </br>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="www.newband.com">Newband</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>February to July 2016
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>UX
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body" style="font-family: 'notolight'">

                            <h2 style="font-family: 'notobold'">Europass - 欧洲通 微信平台</h2>
                           
                            </br>

                            <h3 style="font-family: 'notobold'">队员</h3>
                            </br>
                            <p>2 老板</br> 2 交流和客户负责人 </br> 2 产品负责人 (1 工程师) </p>

                            <h3 style="font-family: 'notobold'">业务</h3>
                            <p>Ux 和产品顾问</p>

                            <h3 style="font-family: 'notobold'">挑战</h3>

                            <p>创造欧洲通项目 ecosystem, 创造联系欧洲和中国消费者的一桥。</p>
                            <p>帮助团体找到他们公司产品调查用户需要，做产品设计。</p>

                            
                            </br>
                            <h3>Ecosystem audit</h3>
                            <h4>Expert review</h4>
                            <h4>Analytics</h4>
                            <h4>Ecosystem redesign</h4>

                            </br>
                            <img src="images/audit.png" class="img-responsive img-centered" alt="">
                            <img src="images/ecob.png" class="img-responsive img-centered" alt="">
                            <!-- <p>DESCRIPTION</p> -->

                            </br>
                            <h3>User Research</h3>
                            <h4>Interview</h4>
                            <h4>Use Case Scenario</h4>
                            <h4>User Journey</h4>
                            </br>
                            <img src="images/remoteInterview.png" class="img-responsive img-centered" alt="">
                            <img src="images/user_flow.png" class="img-responsive img-centered" alt="">
                            <!-- <p>
                            DESCRIPTION </p> -->
                            </br>
                            </br>
                            <h3>Website fullstack build</h3>
                            </br>
                            <img src="images/Website.png" class="img-responsive img-centered" alt="">
                            </br>
                            <!-- <p>DESCRIPTION
                            </p>  -->
                            </br>
                            <h3>Product Design</h3> 
                            </br>
                            <img src="images/UserFlow2.png" class="img-responsive img-centered" alt="">



                           <!--  <p>
                            DESCRIPTION
                            </p> -->

                            <img src="images/ProtoHF.png" class="img-responsive img-centered" alt="">



                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://europass.paris">Europass - 欧洲通</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>September - January 2014
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>UX Consulting - Web Development
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="images/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Trends book and analysis</h2>
                            <hr class="star-primary">
                            <img src='' class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
