---
title: Welcome to Middleman
---

<!-- <div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p> --><!-- .doc -->
<!-- </div> --><!-- .welcome -->

<div class="wrap">
    
    <div style="backface-visibility:
hidden
;
hidden.bg-main
background-attachment:
scroll, scroll
;
background-clip:
border-box, border-box
;
background-color:
rgba(0, 0, 0, 0)
;
background-image: url(images/street_Shanghai.jpg), linear-gradient(50deg, white 0px, white 100%)
;
background-origin:
padding-box, padding-box
;
background-position-x:
0%, 0%
;
background-position-y:
0%, 0%
;
background-repeat-x:
;
background-repeat-y:
;
background-size:
cover
;
box-sizing:
border-box
;
color:
rgb(46, 47, 51)
;
display:
block
;
font-family:
Circular, Helvetica, Arial, sans-serif
;
font-size:
16px
;
font-weight:
300
;
height:
100vh;
;
left:
0px
;
0.bg-main
line-height:
24px
;
position:
fixed
;
text-size-adjust:
100%
;
top:
0px
;
width:
1280px
;
z-index:
-1
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-filter: brightness(3);
    -moz-filter: brightness(3);
    -o-filter: brightness(3);
    -ms-filter: brightness(3);
    filter: saturate(9);
  "

></div>

</div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="bouton-brand" class="container">
                <a class="navbar-brand" href="#page-top"> 
<!--                 <img src="img/moi.jpg" class="" alt="" style="width: auto;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;"> -->
                <div class="welcome-button" style="color: rgb(255, 36, 36); background-color: white; padding:15px;

                    -moz-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -webkit-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -o-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);"> 
                <i class="fa fa-coffee" aria-hidden="true"></i>  Welcome Home </div>
                </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right " style="
                    -moz-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -webkit-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    -o-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                    ">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#services">Framework</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li  class="page-scroll">
                        <a href="#page-top" id="contactBtn">Contact</a> 
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="z-index:0;"">
        <div class="container" style="margin-bottom: -55px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text" style="display: block;vertical-align: center;">

                    <div>
                        
                        <div class="sticker" style="background: white;"><span class="name" style="color: rgb(255, 36, 36);
                                            -moz-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            -webkit-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            -o-box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);
                                            box-shadow: 13px 13px 0px 0px rgba(47, 47, 47, 0.73);

                    ">Welcome 欢迎光临!</span></div>
                        <hr class="star-primary main-star" style="font-size:1.4em;">

                    </div>

                    <div class="video_contain" style="display: inline-flex; width: 500px; height: 600px;position: relative;    margin-top: 42px;">

                            <img src="images/handOn.png" class="img-responsive" style="position: absolute;">

                            <video id="mainVideo" class=""  autoplay loop style="    position: absolute;
    width: 209px;
    height: auto;
    top: 99px;
    left: 157px;
    ">
                              <source src="images/Proto2_720_screen.mp4" type="video/mp4">

                            

                            Your browser does not support the video tag.
                            </video>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header2

    <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    -->
<!-- About Section -->



    <section class="success " id="about" style="z-index: 10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>We are Translators </h2>




                    
                    <hr class="star-light" style="background-color: black; border-style: inherit;">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <!-- <p>Agile methodes are necessary to create products and services with a safe and efficient incrementation, but UX goes further. User Experience purpose is to set up ogranisation's strategy toward iterative user aknowledgement processes. It build conditions to create positive and valuable artefacts within a dynamic business environment. </p> --> </br>
                    <p style="text-align: justify;">Compagnies and NGOs, Start-ups and established firms, space industrials or taxi drivers, we’re all experiencing the same social mutations induced by technology and global changes. </br></br>

Weather we like it or not it’s driving us out of our comfort zone and generate frustration,  misunderstanding, fear for more and more people at work, in there daily life and in there whole vision of the world.</br></br>

On the other side some people, because of chance, environnement and last century’s end social climax, improved an approach of experiencing and understanding the unknown in a deeper and more empathetic way.</br></br>

In other words, at the same time misunderstanding and fear are growing, a timeless generation of youngs  and olders becomes what I proudly call TRANSLATORS who are translating visions, ideas, cultural habits, emotions, and much more to help anyone enlarge his vision. </p><p style="text-align: center;">Welcome</p>
                </div>
               <!-- <div class="col-lg-4">
                     <p>User Experience belongs to a whole organisation, the more people are gradually involved, the better the results are. In order to understand and communicate with everybody, it is crutiale for UX advocates to be able to make user research, design, test and even code with a deep empathy and respect. I follow these rules wholeheartedly</p> 
                    <p></p>
                </div>-->

               

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Julien_Eyssartier_Strategy_UX.pdf" class="btn btn-lg btn-outline btn-CV" download>
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="about" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: black;" class="foo">Understanding</h2>
                 </br>
                 </br>
                 </br>
                 </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                   <!--  <p>I traveled a lot with my parents when I was younger but we never left for too long in one place and everytime I thought it might be so different to stay in these places for living. After 3 years of sociology and History at the university, my business school gave me time to spend wherever I wanted to go, and for the first time I spend a year far away from France, in China. I'm passionated with China since I learned Mandarin to an advanced level and crossed China riding my bike. I'll be back in China to live there, that's for sure and I can't wait for it. If you want to talk about Chinese society, I'm your man ;) </p> -->

                   <img src="images/About.svg" style="width: 100%;">



                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Julien_Eyssartier_Strategy_UX.pdf" class="btn btn-lg btn-outline btn-CV black"  download>
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>


                </div>

            </div>

<!-- insertion -->
 



<!-- fin insertion -->

    </section>

     <section id="services" style="background: #eee;">
        <div class="container foo">
            <div class="row service-title">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="">Working Framework</h2>
                </br>
                </div>
            </div>
        </div>


        <div class="container">

            <div class="row methodeRaw red">
                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-star" aria-hidden="true"></i>
 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Heuristic Evalutation</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;">Evaluate quality of design and interaction of a product regarding Jakob Nielsen's general principles for interaction design. It is not specific usability guidelines and a good apportunity to involve the whole team in the design process.</p>
                            </div>

                    </div>

                </div>
                
                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-comments" aria-hidden="true"></i>

 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Insights inquiery</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;">Insights should be the starting point of every product creation. Finding or testing insights is the purpose of making Early stage research using interview, task analysis and taking survey. These materials must help us formulate clear and tangible hypothesis about user needs and pain points at different scales.</p>
                            </div>

                    </div>


                </div>

                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-money" aria-hidden="true"></i>
 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Business Analysis</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;"> No way to make great things without knowing how the firm is doing compared to market's competitors. It is about benchmarking and analysing market trends but also investigating deeply the compagny business model in order to know what is essential to work on and how flexible it can be.  </p>
                            </div>

                    </div>


                </div>

            </div>

<div class="row methodeRaw blue">
                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-users" aria-hidden="true"></i>

                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">User Researches</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;">User Researches get more usefull as they are focus. It's important to keep in mind the "why" of making these researches during the interviews and focus groups. It will help building clear scenarios, task analysis, and user journey to get a clear understanding of the evolutions the product should follow</p>
                            </div>

                    </div>

                </div>
                
                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>

                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">User Tests</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;">User Test helps to detect usability issues following a clear grid of tasks the user have to accomplish. User tests can take different shapes, take place on existing assets or prototypes for new assets to build. Getting clear feedbacks and proofs is the key success point of User Testing. </p>
                            </div>

                    </div>


                </div>

                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Information Architecture</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;"> The definition of the IA of a product comes more likely alongside user researches and user tests if they've been run efficiently. Using card sorting can easily help figure out what proper lexical field should be used and how to organise content in order to build rational and efficient flow. </p>
                            </div>

                    </div>


                </div>

            </div>





                        <div class="row methodeRaw green">
                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-tasks" aria-hidden="true"></i>

                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Incremental production</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;"> Agile production and SCRUM methods require the teams to work more than ever with transparancy, together. Explicits rules, empathy and respect of the work is the main part. To be effective it require to listen, understand and TRANSLATE the right message to the right person. Ego is bad.</p>
                            </div>

                    </div>

                </div>
                
                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-fa fa-check-square-o"></i> 
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Workshop - Ideation</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;">Workshop animation has a lot to do with personnality and it's everytime different. I ran some workshops in agency, sometimes successfully, sometimes not so much, but ss soon as people understand precisely why they are here and what it is expected from them, things are easier !</p>
                            </div>

                    </div>


                </div>

                <div class="col-lg-4 col-md-6 text-center">


                    <div class="w-iconbox-h " style='text-align: left;''>

                            <div class="w-iconbox-link" style='text-align: left;'>

                            <div class="w-iconbox-icon" style="">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                                
                            <h4 class="w-iconbox-title" style="margin-left: 88px; font-size: large;">Data-Mining</h4>

                            </div>

                            <div class="w-iconbox-text" style="margin-left: 88px; ">
                                <p style="font-size: medium;"> The first rule is to get fully functionnal analytics to mesure activity on every assets. Analytics allow stackholders to run basical but efficient data-mining. If something is likely to have many users regarding User research and testing but nobody use it at the end and you can't measure it properly, well ... </p>
                            </div>

                    </div>


                </div>

            </div>



        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="ux-black " style="    background: rgba(0, 0, 0, 0.78);">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="port-title foo" >User Experience</h2>
                 </br>
                 </br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal0" class="portfolio-link" data-toggle="modal">
<!--                         <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="images/portfolio/nuiban.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="images/portfolio/europass_copie.png" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content" >
                                






                                <h3> <i class="fa fa-smile fa-1x"></i>&nbsp;&nbsp;Comming Soon !</h3>

                                    



                            </div>
                        </div>
                        <img src="images/portfolio/wegame_copie.png" class="img-responsive" alt="">
                    </a>
                </div>

            </div>
              
            
        </div>
</section>

<section id="portfolio" class="" style="background: rgba(0, 0, 0, 0.78); padding-top: 0">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="port-title2" style="color: white;">Strategic Planing</h2>
                    </br>
                 </br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content" >
                                






                                <h3> <i class="fa fa-lock fa-1x"></i>&nbsp;&nbsp;Confidential</h3>

                                    <span class="countdownContainer">

                                        <div>
                                            <span id="days">120</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i>
 &nbsp;</span>
                                            <span id="hours">4</span> <span> :</span>
                                            <span id="minutes">12</span> <span>:</span>
                                            <span id="seconds">22</span> 
                                        </div>

                                    </span>



                            </div>
                        </div>
                        <img src="images/portfolio/cote_dor.jpg" class="img-responsive brand" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content" >
                                






                                <h3> <i class="fa fa-lock fa-1x"></i>&nbsp;&nbsp;Confidential</h3>

                                    <span class="countdownContainer">

                                        <div>
                                            <span id="days">120</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i>
 &nbsp;</span>
                                            <span id="hours">4</span> <span> :</span>
                                            <span id="minutes">12</span> <span>:</span>
                                            <span id="seconds">22</span> 
                                        </div>

                                    </span>



                            </div>
                        </div>
                        <img src="images/portfolio/Logo_MVEC.jpg" class="img-responsive brand" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link disabled" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content" >
                                






                                <h3> <i class="fa fa-lock fa-1x"></i>&nbsp;&nbsp;Confidential</h3>

                                    <span class="countdownContainer">

                                        <div>
                                            <span id="days">120</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i>
 &nbsp;</span>
                                            <span id="hours">4</span> <span> :</span>
                                            <span id="minutes">12</span> <span>:</span>
                                            <span id="seconds">22</span> 
                                        </div>

                                    </span>



                            </div>
                        </div>
                        <img src="images/portfolio/brands.jpg" class="img-responsive brand" alt="">
                    </a>



                </div>
            </div>

                            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Julien_Eyssartier_Strategy_UX.pdf" class="btn btn-lg btn-outline btn-CV" download>
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>

        </div>





    </section>

    <!-- About Section -->
    

    <!-- REMPLACER PLUS HAUT -->

    
    <!-- Contact Section -->
   <!-- <section id="contact">



        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    </br>
                 </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2"> -->


                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->


                    <!-- <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
     -->


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Paris, France - Hangzhou, China

                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Find me </h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/julien.eyssartier" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/in/julieneyssartier" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#footer-above" class="btn-social btn-outline" disabled><i class="fa fa-fw fa-wechat"></i></a>
                            </li>

                            
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Current Book</h3>
                        <p><a href="http://shifter-magazine.com/wp-content/uploads/2015/02/Daniel-Kahneman-Thinking-Fast-and-Slow-.pdf">Thinking Fast and Slow</a>, Daniel Kahneman 
                    </div>
                </div>
            </div>
        </div>
        <div id='footer-below' class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Made with <i class="fa fa-heart" aria-hidden="true"></i>
 in France and China !
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->


    <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Newband - 牛班 Native App - Shanghai</h2>
                           
                            </br>

                            <h3>The team</h3>
                            </br>
                            <p>4 Boss (老板) including 胡彦斌 (chinese singer) </br> 
                            1 Marketing team of 4 persons </br>
                            1 Product team of : 
                            4 ingeniers (front, Back, IOS, Android)
                            2 UX including me
                            1 CPO</p>

                            <h3>Field of intervention</h3>
                            <p>Ux and product consultant</p>

                            <h3>Challenges</h3>

                            <p>Create the mobile application from scratch for Chinese market</p>
                            <p>Bring music video courses to life through their use by distant students</p>
                            
                            </br>
                            <h3>User Reaserch : User Flow and Journey</h3>
                            </br>
                            <img src="images/portfolio/Newband_Work.jpg" class="img-responsive img-centered" alt="">
                            <!-- <p>All my colleges there are chinese and no more than one or two can speak English. Hopefully my Mandarin is fine but I confesse I had some hardtime there :p This Chinese start-up leads a majore part of the online music classes and provide chorus and instruments lesson through an app and now also within conservatories. As a junior ux designer I first had to help evangelise the design process from a business drived innovation to a user centered approach. After auditing the digital assets of newband I began interviewing chinese musicians (IRL and through social media) I followed beginner and advanced music courses in order to better understand the music learning process. As I builded closer relationship with users I started prototyping some existing and new items. In particular the classification of courses within the app was quite hard to implement. We improved prototypes several time with user-tests and get better and better usability results. At the same time I was rasing accuracy of personnas, user journey and user flow, everytime relating it to real users.</p> -->
                            </br>
                            <h3>Search engine prototype : the main assets of the product</h3>
                            </br>
                            <img src="images/portfolio/proto.jpg" class="img-responsive img-centered" alt="">
                           <!--  <p>
                            One big probleme in the app was that the CPO was afraid to get not enougth courses material to provide a "there is plenty courses I can choose" look alike experience. So he decided to waiste a lot of space on the screen by using big aligned shapes in order to fool the users. I was a bit depressed when I understood his point. There was around two hundred lessons for learning piano, guitar, bass, drum and chorus but no other way than scrolling the entire screen. Moreover, lessons were builded on specific songs sang by specific singers and the information architecture was based on them. So weird isn't it ? Thanks to my researches, I validated simple hypothesis demonstrating that the instrument had to be considered has the main information but singers and songs title still remained very important espacially regarding the place KTV(karaoke) and the act of singing in many chinese daily life. It is a big thing. I prototyped a search engine to help the user finding his song using a text field and three quick access button. It solved the problem in a very clear and simple way. </p> -->
                            </br>
                            </br>
                            <h3>CRM program : enhance relation with user</h3>
                            </br>
                            <img src="images/portfolio/CRM.jpg" class="img-responsive img-centered" alt="">
                            </br>
                           <!--  <p>The colors choosed before I came and the application environnement in general were a bit stark. Money was everywhere because the leaders who invested money in Newband were expecting video to be sold on app everytime. I'm not saying money is a problem but we have so many way to find free courses online. Waiting people to pay for it maybe is not a so smart idea. I launched an idea toward a very simple CRM path that will both help the user understand how to use the app and at the same time introduce points to collect, sometimes in partnership with brands like Levis to get free courses. User interviews prooved us that interface inspired from trading app where particulary appreciated by users in order to managed points. Security and efficiency exposed in several cases.
                            </p>  -->
                            <!-- </br>
                            <h3>What results ?</h3> 
                            </br>

                            <p>
                            The compagny at first had no proficiency in UX. I brought UX product design process within the team. The CPO was my direct boss and that means a lot : big vertical management and fussiness with control of his position in the team as "The manager" ... I realised in this occasion how UX design and product design cannot be separate! The definition of what a music course online is had been decided before I came and I could not change it even if it was no meaningfull or even usable content. Many product manager still focus on features, the more the best. A/B test are interesting, but using them imply you already know that what your are testing is really meaningfull ! I succeeded optimizing the navigation and the learning process as a chain whithin the app, but I still think content is at the core UX !</p> -->
                            </br>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="www.newband.com">Newband</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>February to July 2016
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>UX
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>DIGITAL CRM STRATEGY</h2>
                            <hr class="star-primary">
                            </d>
                            <img src="images/portfolio/schema.jpg" class="img-responsive img-centered" alt="">
                            <p>As the strategic planer in Charge of Cote d'Or Chocolat, I setted up with the commercials and creatives team the CRM strategy of the brand through multiple touchpoints.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Cote d'Or Chocolat</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Trends analysis</h2>
                            <hr class="star-primary">
                            <img src="" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            <h2>Europass - 欧洲通 Wechat Plateform</h2>
                           
                            </br>

                            <h3>The team</h3>
                            </br>
                            <p>2 partners</br> 2 persons in charge of communication and Biz Dev </br> 2 persons in charge of product (1 ingenier) </p>

                            <h3>Field of intervention</h3>
                            <p>Ux and product consultant</p>

                            <h3>Challenges</h3>

                            <p>Reframe the Europass assets ecosystem, building a bridge between chinese consumers and Europe</p>
                            <p>Help the team find there product through user research and product design</p>

                            
                            </br>
                            <h3>Ecosystem audit</h3>
                            <h4>Expert review</h4>
                            <h4>Analytics</h4>
                            <h4>Ecosystem redesign</h4>

                            </br>
                            <img src="images/audit.png" class="img-responsive img-centered" alt="">
                            <img src="images/ecob.png" class="img-responsive img-centered" alt="">
                            <!-- <p>DESCRIPTION</p> -->

                            </br>
                            <h3>User Research</h3>
                            <h4>Interview</h4>
                            <h4>Use Case Scenario</h4>
                            <h4>User Journey</h4>
                            </br>
                            <img src="images/remoteInterview.png" class="img-responsive img-centered" alt="">
                            <img src="images/user_flow.png" class="img-responsive img-centered" alt="">
                            <!-- <p>
                            DESCRIPTION </p> -->
                            </br>
                            </br>
                            <h3>Website fullstack build</h3>
                            </br>
                            <img src="images/Website.png" class="img-responsive img-centered" alt="">
                            </br>
                            <!-- <p>DESCRIPTION
                            </p>  -->
                            </br>
                            <h3>Product Design</h3> 
                            </br>
                            <img src="images/UserFlow2.png" class="img-responsive img-centered" alt="">



                           <!--  <p>
                            DESCRIPTION
                            </p> -->

                            <img src="images/ProtoHF.png" class="img-responsive img-centered" alt="">



                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://europass.paris">Europass - 欧洲通</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>September - January 2014
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>UX Consulting - Web Development
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="images/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Trends book and analysis</h2>
                            <hr class="star-primary">
                            <img src='' class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
